.hidden {
    display:none
}

.header-box {
    border-bottom: solid grey .5px;
    border-top: solid grey .5px;
    /* border-style: ; */
    height: 80px;
}


.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* vertical-align: middle; */
    height: 100%;
    position: relative;
    width: auto;
    z-index: 1;
    /* margin-left: 40px;
    margin-right: 40px; */
    padding-inline: 40px;
}



.home-link {
    outline: none;
    align-items: center;
    display: inline-flex;
    height: 80px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}

.airbnb-logo-box {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 32px;
    width: 125px;
}

.fa-airbnb {
    display: flex;
    align-items: center;
}


.fa-airbnb::before {
    font-size: 32px;
}

.logo-text {
    font-size: 17px;
}

a:link { text-decoration: none; }
