div {
    box-sizing: border-box;
}

.login-modal-box {
    box-sizing: border-box;
    /* border-radius: 12px; */
}

.login-modal-header {
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    justify-content: center;
    border-bottom: 1px solid rgb(235, 235, 235);
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.login-modal-form {
    /* flex: 1 1 auto; */
    padding: 24px;
    max-width: calc(100vw - 2rem);
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
    /* position: relative; */
    /* width: 100%; */
    /* max-height: 100vh; */
}

.input-box {
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.input-field {
    cursor: text;
    min-height: 56px;
    width: auto;
    margin: 0px;
    border: none transparent;
    color: rgb(34, 34, 34);
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.input-label {
    position: relative;
    box-sizing: border-box;
}

.input-data {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #222222;
    /* color: #717171; */
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    min-height: 56px;
}

.input-data ::placeholder {
    color: #717171;
    /* color: #222222; */
}

.single-error-information {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    color: rgb(113, 113, 113);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.login-button-box {
    margin-top: 24px;
    margin-bottom: 24px;
}

.login-button {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600px;
    border-radius: 8px;
    outline: none;
    padding: 14px 24px;
    border: none;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: rgb(255, 255, 255);
    width: 100%;
}
